.ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: salmon;
    /* border: 2px solid rgba(31, 30, 30, 0.808); */
    border-radius: 100%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    will-change: width, height, transform, border;
    z-index: 999;
    pointer-events: none;
  }
  
  .ring:hover {
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-color: black;
  }