/* .reviewItemClose { */
    /* max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  */
/* }    */

.reviewItemOpen {
    color: teal;
    
} 


.reviewButton {
    
    align-self: flex-end;
    position:relative;
    border: none;
    text-decoration: underline;
    background: transparent;
    color: teal;
}

.reviewButtonSeeMore{
    display: inline;

}
.image-and-details {
    display: flex;
}
.imageReview {
    margin-right: 5px;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    
}

.rating {
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;  
}

