
.reviewItemOpen {
    color: teal;
   
    
} 
.reviewItemClose {
   
    padding-bottom: 50px;
    
} 

.reviewButton {
    align-self: flex-end;
    position:relative;
    border: none;
    text-decoration: underline;
    background: transparent;
    color: teal;
    padding-left:0;
}

.reviewButtonSeeMore{
    display: inline;

}
.image-and-details {
    display: flex;
}
.imageReview {
    margin-right: 15px;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    
}

.rating {
    display: flex;
    flex-direction: column;
}

.review-blockquote img{
    width:20%;

}


.review-wrapper {
    width: 100%;  
}


