
.reviewItemOpen {
    padding: 25px 0 20px 20px;

    color: teal;
   
    
} 
.reviewItemClose {
   
    padding-bottom: 50px;
    
} 

.reviewButton {
    align-self: flex-end;
    position:relative;
    border: none;
    text-decoration: underline;
    background: transparent;
    color: slateblue;
    padding-left:0;
}

.reviewButtonSeeMore{
    display: inline;
    

}
.image-and-details {
    display: flex;
}
.imageReview {
    transform: translate(-10%, 10%);
    border: 1px solid slategray;
    filter: sepia(10%);
    margin-right: 15px;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    
}

.rating {
    display: flex;
    flex-direction: column;
   
}

.review-owner-name {
    font-family: "Voyage-Regular";
    font-weight: 900;
    letter-spacing: 0.25em;
    font-size: 20px;
}

.review-blockquote img{
    width:100%;

}


.review-wrapper {
    width: 100%;  
}

.review-quote-header {
    display: flex;
}

.review-dates {
    display: flex;
    flex-direction: column;
    font-size: 11px;
}
