
.review-card-layout {
    padding: 10px;
}

.review-card-layout-wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    /* padding: 20px; */
    flex-direction: column;
}


.review-header h1 {
    font-size: 3em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #272727;
    -webkit-text-stroke-width: 1px;  
   
}

@media (min-width: 480px) {

.review-card-layout-wrapper {
    flex-direction: row;
}

.review-card-layout{
    width: 50%;
    padding: 20px;
    margin-left: 50px;

}

.review-header h1 {
    margin-left: 188px;
    padding-bottom: 0;
   
}
    
    
}


